* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header {
    background: #8B0000;
    color: white;
    padding: 20px 0;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
}
nav ul li::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #0a7cff;
    transition: 0.2s;
}

header h1 {
    font-size: 1.8em;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.hero {
  background: url("images/Photo_resto.jpg");
    height: 100vh;
    color:#f3f3f3;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
}

.hero-text {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}
.equipe-flex {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.equipe-photo {
    flex: 1;
}

.photo-placeholder {
    width: 100%;
    max-width: 400px;
    height: 300px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.equipe-texte {
    flex: 2;
}

section {
    padding: 60px 0;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

form {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

input, button {
    padding: 10px;
    font-size: 1em;
}

button {
    background: #8B0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #a40000;
}

.payment {
    margin-top: 30px;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.pay-button {
    margin-top: 10px;
    background: #0a7cff;
}

footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .header-flex {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
.social{
    text-align: center;
}
